<settings>
<servers>
  <server>
    <id>proj5ca-domain-project5-ca</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>proj5ca-domain-project5-ca</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>proj5ca-domain-project5-ca</id>
        <url>https://proj5ca-domain-857565654393.d.codeartifact.us-east-1.amazonaws.com/maven/project5-ca/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>proj5ca-domain-project5-ca</id>
    <name>proj5ca-domain-project5-ca</name>
    <url>https://proj5ca-domain-857565654393.d.codeartifact.us-east-1.amazonaws.com/maven/project5-ca/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
